html, body {
	
}

#page-container {
	background-image:url('pyramid.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#controls { 
	height: 50px;
}

#pyramidAndTalon {

}

#pyramidDisplay {
	height: 450px; 
}

#talonDisplay {
	height: 450px;
}

#freeCellDisplay {
	height: 200px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#deckDisplay {
	height: 200px;
}

.pyramidCard {
	position: absolute;
}

.talonCard {
	position: absolute;
}

.playingCard {

}

.cardSelected {
	border: solid 2px yellow;
}